<div class="media bg-info">
	<div class="media-left media-middle">
		<img src="img/icon.png" class="media-object" style="width:40px" />
	</div>
	<div class="media-body media-middle">
		<h4 id="pageTitle" class="text-center center-block" >Astor FERMI</h4>
	</div>
	<div class="media-right media-middle">
		<span onclick="changeMode()" class="glyphicon glyphicon-refresh"></span>
	</div>
</div>
<hr>
<div id="networkErr" class="container-fluid" style="display:none">
	<h3 class="text-danger text-center">Network error</h3>
</div>
<div id="main" class="container-fluid">
	<div class="loginFrameWeb embed-responsive">
			<iframe id="loginframe" class="embed-responsive-item" src="" height='500' width='300'></iframe>
	</div>
	<div class="menu center-block">
		<h5 id="menuTitle" class="text-center"></h5>
		<div class="closeButton" onclick="$('.menu').hide('fast');"><span class="glyphicon glyphicon-remove"></span></div>
		<ul class="list-group">
		 
			<li id="openCtrlP" class="list-group-item">Open Control Panel</li>
			<!--<a class="list-group-item" href="#">Disable Control</a>
			<a class="list-group-item" href="#">Enable Control</a>
			<a class="list-group-item" href="#">Remote Login</a>
			<a class="list-group-item" href="#">Starter Info</a>
			<a class="list-group-item" href="#">Starter Test</a>
			<a class="list-group-item" href="#">Clone</a>
			<a class="list-group-item" href="#">Cut</a>
			<a class="list-group-item" href="#">Paste</a>
			<a class="list-group-item" href="#">Edit Properties</a>
			<a class="list-group-item" href="#">Remove</a>
			<a class="list-group-item" href="#">Black Box</a>
			<a class="list-group-item" href="#">Starter Logs</a>
			<a class="list-group-item" href="#">Uptime for Servers</a>
			<a class="list-group-item" href="#">Force Update</a>-->
		</ul>
	</div>
	<div class="tree">
		<ul>
			<li>
				<ul>
					<li id="AAAMAINSERVERS">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>AAA MAIN SERVERS</b></span>
						<ul>
						</ul>
					</li>
					<li id="BAM">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>BAM</b></span>
						<ul>
						</ul>
					</li>
					<li id="BPM">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>BPM</b></span>
						<ul>
						</ul>
					</li>
					<li id="CBLM">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>CBLM</b></span>
						<ul>
						</ul>
					</li>
					<li id="CBPM">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>CBPM</b></span>
						<ul>
						</ul>
					</li>
					<li id="CCD">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>CCD</b></span>
						<ul>
						</ul>
					</li>
					<li id="CM">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>CM</b></span>
						<ul>
						</ul>
					</li>
					<li id="EOS">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>EOS</b></span>
						<ul>
						</ul>
					</li>
					<li id="FB">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>FB</b></span>
						<ul>
						</ul>
					</li>
					<li id="ID">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>ID</b></span>
						<ul>
						</ul>
					</li>
					<li id="IUFEL">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>IUFEL</b></span>
						<ul>
						</ul>
					</li>
					<li id="MOD">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>MOD</b></span>
						<ul>
						</ul>
					</li>
					<li id="MPS">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>MPS</b></span>
						<ul>
						</ul>
					</li>
					<li id="MSCR">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>MSCR</b></span>
						<ul>
						</ul>
					</li>
					<li id="PIL">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>PIL</b></span>
						<ul>
						</ul>
					</li>
					<li id="PS">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>PS</b></span>
						<ul>
						</ul>
					</li>
					<li id="SCRPH">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>SCRPH</b></span>
						<ul>
						</ul>
					</li>
					<li id="SL">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>SL</b></span>
						<ul>
						</ul>
					</li>
					<li id="SLU">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>SLU</b></span>
						<ul>
						</ul>
					</li>
					<li id="TIM">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>TIM</b></span>
						<ul>
						</ul>
					</li>
					<li id="VAC">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>VAC</b></span>
						<ul>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>