<div class="media bg-info">
	<div class="media-left media-middle">
		<img src="img/icon.png" class="media-object" style="width:40px" />
	</div>
	<div class="media-body media-middle">
		<h4 id="pageTitle" class="text-center center-block" >Astor Elettra</h4>
	</div>
	<div class="media-right media-middle">
		<span onclick="changeMode()" class="glyphicon glyphicon-refresh"></span>
	</div>
</div>
<hr>
<div id="networkErr" class="container-fluid" style="display:none">
	<h3 class="text-danger text-center">Network error</h3>
</div>
<div id="main" class="container-fluid">
	<div class="loginFrameWeb embed-responsive">
			<iframe id="loginframe" class="embed-responsive-item" src="" height='500' width='300'></iframe>
	</div>
	<div class="menu center-block">
		<h5 id="menuTitle" class="text-center"></h5>
		<div class="closeButton" onclick="$('.menu').hide('fast');"><span class="glyphicon glyphicon-remove"></span></div>
		<ul class="list-group">
		 
			<li id="openCtrlP" class="list-group-item">Open Control Panel</li>
			<!--<a class="list-group-item" href="#">Disable Control</a>
			<a class="list-group-item" href="#">Enable Control</a>
			<a class="list-group-item" href="#">Remote Login</a>
			<a class="list-group-item" href="#">Starter Info</a>
			<a class="list-group-item" href="#">Starter Test</a>
			<a class="list-group-item" href="#">Clone</a>
			<a class="list-group-item" href="#">Cut</a>
			<a class="list-group-item" href="#">Paste</a>
			<a class="list-group-item" href="#">Edit Properties</a>
			<a class="list-group-item" href="#">Remove</a>
			<a class="list-group-item" href="#">Black Box</a>
			<a class="list-group-item" href="#">Starter Logs</a>
			<a class="list-group-item" href="#">Uptime for Servers</a>
			<a class="list-group-item" href="#">Force Update</a>-->
		</ul>
	</div>
	<div class="tree">
		<ul>
			<li>
				<ul>
					<li id="AAAMainServers">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>AAA Main Servers</b></span>
						<ul>
						</ul>
					</li>
					<li id="Booster">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>Booster</b></span>
						<ul>
						</ul>
					</li>
					<li id="CCD">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>CCD</b></span>
						<ul>
						</ul>
					</li>
					<li id="FlscDebugDoNotStart">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>FlscDebugDoNotStart</b></span>
						<ul>
						</ul>
					</li>
					<li id="Miscellaneous">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>Miscellaneous</b></span>
						<ul>
						</ul>
					</li>
					<li id="StorageRing">
						<span ><img src="img/leds/images48/ledgreen.png" height="17px" width="17px"/>&nbsp;<b>Storage Ring</b></span>
						<ul>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>