<div class="media bg-info">
	<div class="media-left media-middle">
		<img src="img/icon.png" class="media-object" style="width:40px" />
	</div>
	<div class="media-body media-middle">
		<h4 class="text-center center-block media-heading" >ELETTRA Status</h4>
	</div>
</div>
<hr>
<div id="networkErr" class="container-fluid" style="display:none">
	<h3 class="text-danger text-center">Network error</h3>
</div>
<div id="main" class="container-fluid">
	<h4 id="monitorTitle" class="text-primary text-center">SR Current</h4>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe scrolling="no" id="rmsframe" class="embed-responsive-item" src="http://ecsproxy.elettra.eu/docs/egiga2m/egiga2m_plot.html?conf=elettra&start=last 48 hours&stop=&ts=00046,1,1&title=&xLabel=&yLabel=mA&tsLabel=last 48 hours&height=235&style=areaspline&hideMenu="></iframe>
	</div>
	<!--
	<img id="intimg" alt="FERMI Intensity" class="img-responsive" src="http://www.elettra.eu/images/tmp/eis_fermi_intensity.png">
	
	<img id="rmsimg" alt="FERMI RMS" class="img-responsive" src="http://www.elettra.eu/images/tmp/eis_fermi_rms.png">
	-->
	<hr>
	<div class="row panel-group">
		
		<div class="col-sm-6 col-md-3 panel panel-primary">
			<a id="statusBtn" role="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#collapse1">Status</a>
			<div id="collapse1" class="panel-collapse collapse">
				<ul class="list-group">
					<li class="list-group-item">						
						<label for="current">Current [mA]</label>
						<input disabled type="text" class="form-control" id="current" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="energy">Energy [GeV]</label>
						<input disabled type="text" class="form-control" id="energy" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="lifeTime">Lifetime [h]</label>
						<input disabled type="text" class="form-control" id="lifeTime" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="informationSystem">Information System</label>
						<input disabled type="text" class="form-control" id="informationSystem" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="infoUp">Info updated at</label>
						<input disabled type="text" class="form-control" id="infoUp" value="">
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 panel panel-primary">
			<a id="crBtn" role="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#collapse2">Control room</a>
			<div id="collapse2" class="panel-collapse collapse">
				<ul class="list-group">
					<li class="list-group-item">
						<label for="machineInfo">Machine Info</label>
						<input disabled type="text" class="form-control" id="machineInfo" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="operationMode">Operation Mode</label>
						<input disabled type="text" class="form-control" id="operationMode" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="bunchMode">Bunch Mode</label>
						<input disabled type="text" class="form-control" id="bunchMode" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="lastUserDedicatedInjectionDate">Last Users dedicated injection date</label>
						<input disabled type="text" class="form-control" id="lastUserDedicatedInjectionDate" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="lastUserDedicatedInjectionTime">Last User dedicated injection time</label>
						<input disabled type="text" class="form-control" id="lastUserDedicatedInjectionTime" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="lastUserDedicatedInjectionDateTime">Last Users dedicated injection on</label>
						<input disabled type="text" class="form-control" id="lastUserDedicatedInjectionDateTime" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="controlRoom">Control Room</label>
						<input disabled type="text" class="form-control" id="controlRoom" value="N.A.">
					</li>
				</ul>
			</div>
		</div>
		
		<div class="clearfix visible-sm"></div>
		
		
	</div>
</div>