<div class="media bg-info">
	<div class="media-left media-middle">
		<img src="img/icon.png" class="media-object" style="width:40px" />
	</div>
	<div class="media-body media-middle">
		<h4 class="text-center center-block media-heading" >FERMI Status</h4>
	</div>
</div>
<hr>
<div id="networkErr" class="container-fluid" style="display:none">
	<h3 class="text-danger text-center">Network error</h3>
</div>
<div id="main" class="container-fluid">
	<h4 id="monitorTitle" class="text-primary text-center">FEL-1 I<sub>0</sub> monitor charts (last 2 hours)</h4>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe scrolling="no" id="i0mintframe" class="embed-responsive-item" src="http://padresproxy.elettra.eu/docs/egiga2m/egiga2m_plot_nolink.html?conf=padres&start=last%202%20hours&stop=&ts=02076,1,1&minY=0;&maxY=200;&title=&xlabel=&tsLabel=Intensity%20[uJ]&height=235&style=areaspline&hideMenu="></iframe>
	</div>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe scrolling="no" id="i0mrmsframe" class="embed-responsive-item" src="http://padresproxy.elettra.eu/docs/egiga2m/egiga2m_plot_nolink.html?conf=padres&start=last%202%20hours&stop=&ts=02241,1,1&minY=0;&maxY=50;&title=&xlabel=&tsLabel=RMS%20[%25]&height=235&style=areaspline&hideMenu="></iframe>
	</div>
	<!--
	<img id="intimg" alt="FERMI Intensity" class="img-responsive" src="http://www.elettra.eu/images/tmp/eis_fermi_intensity.png">
	
	<img id="rmsimg" alt="FERMI RMS" class="img-responsive" src="http://www.elettra.eu/images/tmp/eis_fermi_rms.png">
	-->
	<hr>
	<div class="row panel-group">
		
		<div class="col-sm-6 col-md-3 panel panel-primary">
			<a id="statusBtn" role="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#collapse1">Status</a>
			<div id="collapse1" class="panel-collapse collapse">
				<ul class="list-group">
					<li class="list-group-item">
						<label for="beamTo">Beam to</label>
						<input disabled type="text" class="form-control" id="beamTo" value="">
					</li>
					<li class="list-group-item">
						<label for="felActive">FEL active</label>
						<input disabled type="text" class="form-control" id="felActive" value="">
					</li>
					<li class="list-group-item">
						<label for="opMode">Operating Mode</label>
						<input disabled type="text" class="form-control" id="opMode" value="User dedicated">
					</li>
					<li class="list-group-item">
						<label for="infoUp">Info updated at</label>
						<input disabled type="text" class="form-control" id="infoUp" value="">
					</li>
				</ul>
			</div>
		</div>
		
		<div class="col-sm-6 col-md-3 panel panel-primary">
			<a id="linacBtn" role="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#collapse2">Linac / e-beam</a>
			<div id="collapse2" class="panel-collapse collapse">
				<ul class="list-group">
					<li class="list-group-item">
						<label for="rfPlants">RF plants</label>
						<input disabled type="text" class="form-control" id="rfPlants" value="">
					</li>
					<li class="list-group-item">
						<label for="eBeamEn">E-beam Energy [GeV]</label>
						<input disabled type="text" class="form-control" id="eBeamEn" value="">
					</li>
					<li class="list-group-item">
						<label for="bc1En">BC-1/Energy</label>
						<input disabled type="text" class="form-control" id="bc1En" value="">
					</li>
					<li class="list-group-item">
						<label for="bc2En">BC-2/Energy</label>
						<input disabled type="text" class="form-control" id="bc2En" value="">
					</li>
					<li class="list-group-item">
						<label for="bunchCharge">Bunch Charge [pC]</label>
						<input disabled type="text" class="form-control" id="bunchCharge" value="">
					</li>
				</ul>
			</div>
		</div>
		
		<div class="clearfix visible-sm"></div>
		
		<div class="col-sm-6 col-md-3 panel panel-primary">
			<a id="seedBtn" role="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#collapse3">Seed laser</a>
			<div id="collapse3" class="panel-collapse collapse">
				<ul class="list-group">
					<li class="list-group-item">
						<label for="slStatus">Status</label>
						<input disabled type="text" class="form-control" id="slStatus" value="">
					</li>
					<li class="list-group-item">
						<label for="locking">Locking</label>
						<input disabled type="text" class="form-control" id="locking" value="">
					</li>
					<li class="list-group-item">
						<label for="pulseEn">Pulse energy [&mu;J]</label>
						<input disabled type="text" class="form-control" id="pulseEn" value="">
					</li>
					<li class="list-group-item">
						<label for="pulseLength">Pulse length [fs]</label>
						<input disabled type="text" class="form-control" id="pulseLength" value="">
					</li>
					<li class="list-group-item">
						<label for="wavelength">Wavelenght [nm]</label>
						<input disabled type="text" class="form-control" id="wavelength" value="">
					</li>
				</ul>
			</div>
		</div>
		
		<div id="felData" class="col-sm-6 col-md-3 panel panel-primary">
			<a id="felBtn" role="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#collapse4">FEL</a>
			<div id="collapse4" class="row panel-collapse collapse">
				
				<div id="firstStage" class="col-xs-6" style="padding-right:0">
					<h6 id="stage1title" class="text-primary text-center">Stage 1</h6>
					<ul class="list-group">
						<li class="list-group-item">
							<label for="harmfel1">Harmonic</label>
							<input disabled type="text" class="form-control" id="harmfel1" value="">
						</li>
						<li class="list-group-item">
							<label for="wavefel1">Wavelenght [nm]</label>
							<input disabled type="text" class="form-control" id="wavefel1" value="">
						</li>
						<li class="list-group-item">
							<label for="polfel1">Polarization</label>
							<input disabled type="text" class="form-control" id="polfel1" value="">
						</li>
					</ul>
					<h6 id="felMonitor" class="text-primary text-right">FEL-2 I<sub>0 </sub></h6>
					<ul class="list-group">
						<li class="list-group-item">
							<label for="infel1">Intensity [&mu;J]</label>
							<input disabled type="text" class="form-control" id="intfel1" value="">
						</li>
						<li class="list-group-item">
							<label for="rmsfel1">RMS [%]</label>
							<input disabled type="text" class="form-control" id="rmsfel1" value="">
						</li>
					</ul>
				</div>
				
				<div id="secondStage" class="col-xs-6" style="padding-left:0">
					<h6 class="text-primary text-center">Stage 2</h6>
					<ul class="list-group">
						<li class="list-group-item">
							<label for="harmfel2">Harmonic</label>
							<input disabled type="text" class="form-control" id="harmfel2" value="">
						</li>
						<li class="list-group-item">
							<label for="wavefel2">Wavelenght [nm]</label>
							<input disabled type="text" class="form-control" id="wavefel2" value="">
						</li>
						<li class="list-group-item">
							<label for="polfel2">Polarization</label>
							<input disabled type="text" class="form-control" id="polfel2" value="">
						</li>
					</ul>
					<h6 class="text-primary">&nbsp;monitor</h6>
					<ul class="list-group">
						<li class="list-group-item">
							<label for="infel2">Intensity [&mu;J]</label>
							<input disabled type="text" class="form-control" id="intfel2" value="">
						</li>
						<li class="list-group-item">
							<label for="rmsfel2">RMS [%]</label>
							<input disabled type="text" class="form-control" id="rmsfel2" value="">
						</li>
					</ul>
				</div>
				
				<div class="col-xs-12">
					<h6 class="text-primary text-center">Spectrometer</h6>
					<ul class="list-group">
						<li class="list-group-item">
							<label for="waveSpec">Wavelength [nm]</label>
							<input disabled type="text" class="form-control" id="waveSpec" value="">
						</li>
						<li class="list-group-item">
							<label for="bandSpec">Bandwidth [nm]</label>
							<input disabled type="text" class="form-control" id="bandSpec" value="">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>