<div class="media bg-info">
	<div class="media-left media-middle">
		<img src="img/icon.png" class="media-object" style="width:40px" />
	</div>
	<div class="media-body media-middle">
		<h4 class="text-center center-block media-heading" >Scw Status</h4>
	</div>
</div>
<hr>
<div id="networkErr" class="container-fluid" style="display:none">
	<h3 class="text-danger text-center">Network error</h3>
</div>
<div id="main" class="container-fluid">
	<h4 id="monitorTitle" class="text-primary text-center">Scw Currents</h4>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe scrolling="no" id="intframe" class="embed-responsive-item" src="http://ecsproxy.elettra.eu/docs/egiga2m/egiga2m_plot.html?conf=elettra&start=last 48 hours&stop=&ts=01805,1,1;01799,1,1;01811,1,1;01800,1,1&title=&xLabel=&yLabel=mA&style=spline&height=235&hideMenu="></iframe>
	</div>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe scrolling="no" id="rmsframe" class="embed-responsive-item" src="http://ecsproxy.elettra.eu/docs/egiga2m/egiga2m_plot.html?conf=elettra&start=last 8 hours&stop=&ts=01788,1,1&title=&xLabel=&yLabel=mA&tsLabel=last 8 hours&height=235&style=spline&hideMenu="></iframe>
	</div>
	<!--
	<img id="intimg" alt="FERMI Intensity" class="img-responsive" src="http://www.elettra.eu/images/tmp/eis_fermi_intensity.png">
	
	<img id="rmsimg" alt="FERMI RMS" class="img-responsive" src="http://www.elettra.eu/images/tmp/eis_fermi_rms.png">
	-->
	<hr>
	<div class="row panel-group">
		
		<div class="col-sm-6 col-md-3 panel panel-primary">
			<a id="statusBtn" role="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#collapse1">Status</a>
			<div id="collapse1" class="panel-collapse collapse">
				<ul class="list-group">
					<li class="list-group-item">
						<label for="magneticField">Magnetic Field [T]</label>
						<input disabled type="text" class="form-control" id="magneticField" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="heliumLevel">Helium Level [%]</label>
						<input disabled type="text" class="form-control" id="heliumLevel" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="infoUp">Info updated at</label>
						<input disabled type="text" class="form-control" id="infoUp" value="">
					</li>
				</ul>
			</div>
		</div>	
		
		<div class="col-sm-6 col-md-3 panel panel-primary">
			<a id="crBtn" role="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#collapse2">Elettra</a>
			<div id="collapse2" class="panel-collapse collapse">
				<ul class="list-group">
					<li class="list-group-item">
						<label for="machineInfo">Machine Info</label>
						<input disabled type="text" class="form-control" id="machineInfo" value="N.A.">
					</li>
					<li class="list-group-item">
						<label for="current">SR Current [mA]</label>
						<input disabled type="text" class="form-control" id="current" value="N.A.">
					
					</li>
				</ul>
			</div>
		</div>
		
		<div class="clearfix visible-sm"></div>
		
		
	</div>
</div>