.list-group-item {
	padding:10px 10px;
	background-color:#eee;
}
.list-group {
	margin-bottom:0px;
}
.form-control[disabled] {
	padding:6px 6px;
	background-color:#FFF;
}
hr {
	border-top:5px solid #eee;
	margin:10px 0;
}
div.container-fluid {
	padding:0 10px;
}
div.container-fullFrame {
	padding:0;
}
.panel-group .panel {
	border-radius: 5px;
	margin-top:5px;
}
.panel-primary, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7,
.col-xs-8, .col-xs-9, .col-md-3 {
	padding-right:0px;
	padding-left:0px;
}

.row{
	margin:0 0 20px 0;
}

.row .panel-collapse {
	margin:0;
}

.embed-responsive-16by9 {
    padding-bottom: 250px;
}
.green_circle {
	  display:inline-block;
      width: 14px;
      height: 14px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      background: green;
	  margin:0px;
}
.red_circle {
	  display:inline-block;
      width: 14px;
      height: 14px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      background: red;
	  margin:0px;
}
.orange_circle {
	  display:inline-block;
      width: 14px;
      height: 14px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      background: orange;
	  margin:0px;
}
.blue_circle {
	  display:inline-block;
      width: 14px;
      height: 14px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      background: blue;
	  margin:0px;
}
.glyphicon {
	font-size:20px;
	line-height:40px;
	cursor:pointer
}
.glyphicon-remove{
	line-height:20px;
	padding:2px;
}
.media-right{
	padding-right:10px
}
.media-left{
	padding-left:5px
}
.menu .list-group-item {
	padding:5px 5px;
	cursor:pointer
}
.menu h5 {
	margin:5px 0px
}
.menu {
	display:none;
	border: 1px solid gray;
	width:80%;
	position:absolute;
	right:10%;
	background:#d9edf7;
	z-index:9999
}
.closeButton {
	top: 0;
    right: 0;
    position: absolute
}
.ul {
	list-style-type: none;
    padding-top: 10px;
	padding-right:5px
}
.loginFrame {
	display:none;
	border: 0.5px solid gray;
	width:90%;
	top:40px;
	padding-bottom:100%;
	position:absolute;
	right:5%;
	z-index:99999;
	background:white
}
.loginFrameWeb {
	display:none;
	border: 0.5px solid gray;
	width:600px;
	padding-bottom:300px;
	position:absolute;
	z-index:99999;
	background:white
}
.fullFrame {
	width:100%;
	padding-bottom:100%;
}

input[type=checkbox] {
  transform: scale(2);
}

.form-group {
	margin-bottom: 15px;
    margin-left: 15px;
}